<h1>Chatroom</h1>
<div>
<ul>
  <%= render @messages %>
</ul>
</div>

<div>
<%= form_with(model: @message, url: messages_path) do |form| %>
  <div>
    <%= form.label :username, current_user.username %>
    <%= form.text_field :body %>
  </div>

  <%= form.submit %>
<% end %>
</div>